<div id="header" >
  <center>
    <img src="/assets/doo2.png" style="margin-top:40px;">
  </center>
</div>
<div class="view" style="background-color:#e19586">
  <center>
    <img src="/assets/scroll.png" style="margin-top:150px;">
  </center>
</div>
<div class="view" style="background-color:#dfd1aa;" >
  <center>
    <img src="/assets/first.png">
  </center>
</div>
<div class="view" style="background-color:#bb6539">
  <center>
    <img src="/assets/first_text.png" style="margin-top:130px;">
  </center>
</div>
<div class="view" style="background-color:#323e36">
  <center>
    <img src="/assets/second.png">
  </center>
</div>
<div class="view" style="background-color:#8bb995">
  <center>
    <img src="/assets/second_text.png">
  </center>
</div>
<div class="view" style="background-color:#b44c4b">
  <center>
    <img src="/assets/third.png">
  </center>
</div>
<div class="view" style="background-color:#843230">
  <center>
    <img src="/assets/third_text.png">
  </center>
</div>
<div class="view" style="background-color:#d0b149">
  <center>
    <img src="/assets/forth.png">
  </center>
</div>
<div class="view" style="background-color:#723846">
  <center>
    <img src="/assets/forth_text.png">
  </center>
</div>
<div class="view" style="background-color:#d7c483">
  <center>
    <img src="/assets/five.png">
  </center>
</div>
<div class="view" style="background-color:#b85647">
  <center>
    <img src="/assets/five_text.png">
  </center>
</div>
<div class="view" style="background-color:#97a9b9">
  <center>
    <img src="/assets/six.png">
  </center>
</div>
<div class="view" style="background-color:#b54e30">
  <center>
    <img src="/assets/six_text.png">
  </center>
</div>
<div class="view" style="background-color:#888576">
  <center>
    <img src="/assets/seven.png">
  </center>
</div>
<div class="view" style="background-color:#eab3b5">
  <center>
    <img src="/assets/seven_text.png">
  </center>
</div>
<div class="view" style="background-color:#8898a5">
  <center>
    <img src="/assets/eight.png">
  </center>
</div>
<div class="view" style="background-color:#b9584b">
  <center>
    <img src="/assets/eight_text.png">
  </center>
</div>
<div id="footer">
  <center>
    <img src="/assets/choibg.png">
  </center>
</div>
