<div id="header" >
  <center><p class="main_name">To. Lovely boy</p></center>
</div>
<div class="view" style="background-color:#e19586">
  <center>
    <img src="/assets/scroll.png" style="margin-top:150px;">
  </center>
</div>
<div class="view" style="background-color:#b44c4b">
  <center>
    <img src="/assets/sumi.png">
  </center>
</div>
<div id="footer">
  <center><p class="main_name">From. Lovely girl</p></center>
</div>
