<div class="body">
  <div class="login">
    <div class="form">
      <form action="/user/login_process">
        <input type="text" class="input" placeholder="ID" name="username">
        <input type="password" class="input"placeholder="Password" name="passwd">
        <input type="submit"class="input_submit"value="Login">
      </form>
    </div>
  </div>
  <center>
  <div class="image">
  </div>
  </center>
  <center>
  <div class="text">
  </div>
  </center>
</body>
