<div class="body">
  <div class="login">
    <div class="form">
      <form action="/user/login_process">
        <input type="text" class="input" placeholder="아이디" name="username">
        <input type="password" class="input"placeholder="비밀번호" name="passwd">
        <input type="submit"class="input_submit"value="">
      </form>
    </div>
  </div>
  <center>
  <div class="image">
  </div>
  </center>
  <center>
  <div class="text">
  </div>
  </center>
</body>
