// Place all the styles related to the letter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header{
height: 140px;
background-color:#f6f7f3;
margin: 0 auto;
top: 0;
left: 0;
text-align: center;
background-position: center;
background-color: none;
background-repeat: no-repeat;
}
.view{
height:654px;
width: 100%;
padding-top: 80px;
text-align: center;
margin: auto;
}
#footer{
height: 140px;
background-color:#f6f7f3;
margin: 0 auto;
top: 0;
left: 0;
text-align: center;
background-position: center;
background-color: none;
background-repeat: no-repeat;
}
